@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@400;700;900&display=swap');

/* category show page */

.articles-container {
  grid-template-columns: 50% 50%;
  grid-template-rows: 450px 450px;
  margin-top: -1rem;
}

.stripes-cover {
  background:
    repeating-linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.15),
      rgba(255, 255, 255, 0.15) 4px,
      rgba(0, 0, 0, 0.15) 2px,
      rgba(0, 0, 0, 0.15) 6px
    );
}

.article-image {
  max-width: 50%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  object-position: 20%;
}

.article-snippet {
  padding: 1rem;
  width: 50%;
  position: relative;
}

.article-snippet-category {
  display: inline-flex;
  padding-bottom: 8px;
  color: #f99b00;
  font-size: 1.4rem;
  border-bottom: 3px solid #f99b00;
}

.article-snippet-title {
  color: rgb(77, 68, 62);
}

.vote-btn {
  background-color: #fd6000;
  padding: 0.2rem 0.5rem;
  height: 1.5rem;
  font: 600 1rem 'Chivo', sans-serif;
  border: none;
  border-radius: 5px;
  color: #fff;
  transition-timing-function: ease;
  cursor: pointer;
  align-self: flex-end;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

input:disabled {
  opacity: 0.6;
}

input:enabled:hover {
  opacity: 0.8;
}

.vote-count {
  width: 23px;
  padding: 0.5rem;
  color: #f9a167;
  font: 600 1rem 'Chivo', sans-serif;
  text-align: center;
  border: 2px solid #fd6000;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  bottom: -0.3rem;
  right: 5rem;
}
