.login-container {
  flex-direction: column;
  width: 40%;
  height: 755px;
  margin: 0 auto;
  padding-top: 2rem;
  text-align: center;
}

.login-form {
  flex-direction: column;
  max-width: 40%;
  margin: 0 auto;
}

.login-form input {
  margin: 0.3rem;
  text-align: center;
  font-size: 1rem;
}

.login-img {
  max-width: 80%;
  height: 350px;
}
